/*
 * Style tweaks
 * --------------------------------------------------
*/

html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.navbar-toggle{
	display: inline-block !important;

}
.navbar-toggle,
.navbar-brand{
	float: none !important;
}

#sidebar-offcanvas,
#body-wrapper{
	padding-top: 50px;
	position: absolute;
	top: 0;
	height: 100%;
}

#sidebar-offcanvas{
	width: 50px;
	-webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    overflow: hidden;
}

#sidebar-offcanvas.open{
	width: 250px;
}

#body-wrapper{
	width: 100%;
	padding-right: 50px;
	margin-left: 50px;
	-webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}
#body-wrapper.open{
	margin-left: 250px;
}

#treepanel-container{
	position: absolute;
    top: 50px;
    bottom: 0px;
    width: 250px;
    overflow: auto;
    padding: 5px;
}


.tree-node-ico.tree-node-expanded,
.tree-node-ico.tree-node-collapsed{
	width: 12px;
	background-size: 8px
}

.node-name{
	display: inline-block;
}
.node-name.selected:before{
	content: "";
    background: #BEEBFF;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 22px;
    box-shadow: 0 0 1px #999 inset;
    margin-top: -2px;
    z-index: -1;
}

treenode .selected {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.bordered{
	border: 1px solid black;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
.row-offcanvas {
position: relative;
-webkit-transition: all .25s ease-out;
-o-transition: all .25s ease-out;
transition: all .25s ease-out;
}

.row-offcanvas-right {
right: 0;
}

.row-offcanvas-left {
left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
right: -50%; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
left: -50%; /* 6 columns */
}

.row-offcanvas-right.active {
right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
left: 50%; /* 6 columns */
}

/*.sidebar-offcanvas {
position: absolute;
top: 0;
width: 50%; /* 6 columns 
}*/
}
